/*
  Main Map & Timeline
*/

#map{
	position: fixed;
	top: 60px;
	left: 0px;
	height: calc(100vh - 110px);
	width: 100%;
}

footer{
	height: 50px;
	width: 100%;
}

/* Chapter Dropdown */
.chapter-dropdown-menu{
	background-color: white;
}

/* Chapter List */
ul#selectedChapters{
	list-style-type:none;
	margin: 2px;
	padding: 2px;
}
ul#selectedChapters li.selected-chapter p{
	font-size: 1.2em;
	margin: 2px;
}

/* Timeline Interior */
.axis--top text{
	color: #EEE;
	fill: #EEE;
}

.area {
fill: steelblue;
fill-opacity: 0.7;
clip-path: url(#clip);
stroke: steelblue;
stroke-width: 2;
}

.zoom {
cursor: move;
fill: none;
pointer-events: all;
}

ul#selected-chapters{
	position: fixed; 
	top: 60px;
	left: 5px;
	z-index: 1000;
	list-style-type: none;
	background-color: rgba(255,255,255,0.9);
	border-radius:  10px;
	padding: 5px;
}

ul#selected-chapters a{
	cursor: pointer;
}

div.custom-map-button{
	padding:  2px;
}